<!-- <div class="maincontainer">
  <div class="img">
    <img style="height: 30px; width: 100px;"
      src="https://tse3.mm.bing.net/th?id=OIP.SqEICC59PL1VrdefhGEqqgHaCg&pid=Api&P=0&h=220" alt="">
    <h6>The Search property</h6>
  </div>

  <div class="paginatoin">

    <div class="pages">
      <a href="">home</a>
      <a href="">2ndpage</a>
      <a href="">3rd</a>
      <a href="">payment</a>

    </div>

    <div class="Main_card">
      <div class="card">
        <div class="PropertyAdd"></div>
        <div class="AdditionlAdress"></div>
        <div class="Service"></div>

      </div>



    </div>








  </div>




</div> -->



<router-outlet></router-outlet>
<!-- <app-property-form></app-property-form> -->
<app-property-info></app-property-info>
