* {
  margin: 0;
  padding: 0;
  /* background-image: url("https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1713830400&semt=ais"); */
}

.headerbar {
  text-align: center;
  height: 50px;
  background: linear-gradient(130deg, #848f7230, hwb(186 50% 16%));
  width: 100%;
  border-radius: 20px;
}

.headerbar h1 {
  text-align: center;
  font-size: 50px;
}

.main-container {
  position: relative;
  top: 2%;
  width: 100%;
  background-color: #ecd0d0;
  display: flex;
  flex-wrap: wrap;

}

.propertu_details,
.propertu_information {
  width: 50%;
  height: 400px;
}

.propertu_details { border: 2px solid black;
  background-color: #e3e3e3;
}

.propertu_information {  border: 2px solid rgb(205, 201, 201);
  background-color: #ffffff;
}

.checkout {
  width: 100%;
  height: 400px;
  font-size: larger;
   color: black;
  background-color: #e0e0e0;
  /* margin-top: 20px; */
}

h1{
  font-weight: bolder;
  text-align: center;


}

.input-form .form-group {
  display: flex;
  flex-direction: column;
}


mat-form-field {
  width: 300px;
color: #ffffff;  margin: 20px;
}


.totalamt{
  text-align: center;
}

/* //table */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #dee2e6;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}



.table tbody tr:hover {
  background-color: #d0d3d6;
}
.large-checkbox {
  width: 25px;
  height: 25px;
}
.btn-primary {
float: right;
  background: linear-gradient(135deg, #008080, #80ced6);
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.btn-primary:hover {
  background: #80ced6;
}

.nav2 li{ margin-left: 2%;
  font-size: larger;
  margin-top: 2px;
  display: inline;

}
