  .form-section {
    margin: 20px;
  }

  .column {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 5%;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  .error {
    color: red;
  }


  textarea {
    min-height: 80px;
  }
  .example-section {
    margin: 12px 0;
  }

  .example-margin {
    margin: 0 12px;
  }

  .currenytoverr{
    color: black;
  }
  ul {
    list-style-type: none;
    margin-top: 4px;
  }


  button {
    margin-top: 20px;
    padding: 10px 20px;
  }

  .nav2 ul {

    background-color: #5b5a5a;
    display: flex;
  }

  .nav2 li {

    float: left;
  }

  .nav2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Active class */



  .headerbar {
    text-align: center;
    height: 50px;
    background: linear-gradient(130deg, #848f7230, hwb(186 50% 16%));
    width: 100%;
    border-radius: 20px;
  }

  .headerbar h1 {
    text-align: center;
    font-size: 50px;
  }

  .large-checkbox {
    width: 25px;
    height: 25px;
  }

  .nav2 li a.active {
    background-color: #4CAF50;
  }
  .btn-primary {
    float: right;
      background: linear-gradient(135deg, #008080, #80ced6);
      color: #ffffff;
      padding: 12px 24px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 16px;
    }

    .btn-primary:hover {
      background: #80ced6;
    }
