<nav class="headerbar">
  <h1>Properties Details</h1>
</nav>

<div class="centered">
  <nav class="nav2">
    <ul>
      <li><a [routerLink]="['/property-info']" class="active">Property Detail</a></li>
      <li><a [routerLink]="['/property-form']" class="inactive">Property Info</a></li>
      <li><a href="#" class="inactive">CheckOut</a></li>
    </ul>
  </nav>
</div>

<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <div class="form-section">
    <div formGroupName="propertyAddress" class="column">
      <h2>Property Address</h2>
      <label>
        Address:
        <input formControlName="address" value="jbj" required>
      </label>
      <label>
        Street:
        <input formControlName="street" required>
      </label>
      <label>
        City:
        <input formControlName="city" required>
      </label>
      <label>
        Country:
        <select formControlName="country" (change)="onCountryChange($event)">
          <option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </option>
        </select>
      </label>
      <label>
        State:
        <select formControlName="state" [disabled]="!states.length">
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
      </label>
      <label>
        Zip Code:
        <input formControlName="zipCode" required>
      </label>
    </div>

    <div formGroupName="additionalInformation" class="column">
      <h2>Additional Information</h2>
      <label>
        City:
        <input formControlName="city" required>
      </label>
      <label>
        Parcel:
        <input formControlName="parcel" required>
      </label>
      <label>
        Owner Name:
        <input formControlName="ownerName" required>
      </label>
      <label>
        Additional Info:
        <textarea formControlName="additionalInfo"></textarea>
      </label>
    </div>
  </div>


  <hr>

  <div formGroupName="services" class="form-section" [hidden]="hiddenvalue">
    <h2>Services</h2>
    <mat-checkbox class="example-margin" formControlName="currentOwner">
      <h4 class="currenytoverr">currentOwner:{{ selectedCountryServices.currentOwner }}
      </h4>

    </mat-checkbox>
    <br>
    <mat-checkbox class="example-margin" formControlName="twoOwnerSearch">
      <h4 class="currenytoverr"> twoOwnerSearch:{{ selectedCountryServices.twoOwnerSearch }}</h4>
    </mat-checkbox>
    <br>
    <mat-checkbox class="example-margin" formControlName="fullSearch">
      <h4 class="currenytoverr"> Full Search::{{ selectedCountryServices.fullSearch }}</h4>
    </mat-checkbox>
    <br>
    <mat-checkbox class="example-margin" formControlName="documentRetrieval">
      <h4 class="currenytoverr">

        documentRetrieval:{{ selectedCountryServices.documentRetrieval }}
      </h4>
    </mat-checkbox>




    <div class="form-section">
      <h2>Total Cost: &nbsp;&nbsp;&nbsp;&nbsp; ${{ totalCost }}</h2>
      <button class="btn btn-primary" type="submit">Continue >></button>
    </div>
  </div>
</form>

<!-- <style>
  .centered {
    text-align: center;
  }
  .inactive {
    background-color: transparent;
  }
  .select-country {
    width: 30%;
  }
</style> -->
