<nav class="headerbar">
  <h1>Properties Details</h1>
</nav>

<div class="centered">
  <nav class="nav2">
    <ul>
      <li><a [routerLink]="['/property-info']" class="active">Property Details</a></li>
      <li><a [routerLink]="['/property-form']" class="inactive">Property Information</a></li>
      <li><a href="#" class="inactive">CheckOut</a></li>
    </ul>
  </nav>
</div>

<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <div class="form-section">
    <div formGroupName="propertyAddress" class="column">
      <h2>Property Address</h2>
      <label>
        Address:
        <input formControlName="address" required>
      </label>


      <label>
        Street:
        <input formControlName="street" required>
      </label>
      <label>
        City:
        <input formControlName="city" required>
      </label>
      <label>
        Country:
        <select formControlName="country" >
          <option *ngFor="let country of countries" [value]="country.name" >
            {{ country.name }}
          </option>
        </select>
      </label>
      <label>
        State:
        <select formControlName="state" [disabled]="!states.length" (change)="onCountryChange($event)">
          <option *ngFor="let state of states" [value]="state" >
            {{ state }}
          </option>
        </select>
      </label>
      <label>
        Zip Code:
        <input formControlName="zipCode" required>
      </label>
    </div>

    <div formGroupName="additionalInformation" class="column">
      <h2>Additional Information</h2>
      <label>
        City:
        <input formControlName="city" required>
      </label>
      <label>
        Parcel:
        <input formControlName="parcel" required>
      </label>
      <label>
        Owner Name:
        <input formControlName="ownerName" required>
      </label>
      <label>
        Additional Info:
        <textarea formControlName="additionalInfo"></textarea>
      </label>
    </div>
  </div>


  <hr>

  <div formGroupName="services" class="form-section" [hidden]="hiddenvalue">
    <h2>Services</h2>
    <label>
      <input type="checkbox" formControlName="currentOwner">
      Current Owner: &nbsp;&nbsp;&nbsp;&nbsp;${{ selectedCountryServices.currentOwner }}
    </label>
    <label>
      <input type="checkbox" formControlName="twoOwnerSearch">
      Two Owner Search: &nbsp;&nbsp;&nbsp;&nbsp;${{ selectedCountryServices.twoOwnerSearch }}
    </label>
    <label>
      <input type="checkbox" formControlName="fullSearch">
      Full Search: &nbsp;&nbsp;&nbsp;&nbsp;${{ selectedCountryServices.fullSearch }}
    </label>
    <label>
      <input type="checkbox" formControlName="documentRetrieval">
      Document Retrieval: &nbsp;&nbsp;&nbsp;&nbsp;${{ selectedCountryServices.documentRetrieval }}
    </label>
    <div class="form-section">
      <h2>Total Cost: &nbsp;&nbsp;&nbsp;&nbsp; ${{ totalCost }}</h2>
      <button class="btn btn-primary" type="submit">Continue >></button>
    </div>
  </div>
</form>

<!-- <style>
  .centered {
    text-align: center;
  }
  .inactive {
    background-color: transparent;
  }
  .select-country {
    width: 30%;
  }
</style> -->
