<nav class="headerbar">
  <h1>Properties details</h1>
</nav>

<div class="" style="text-align: center">
  <nav class="nav2">
    <ul>
      <!-- this.router.navigate(['./property-info']); -->

      <li><a routerLink="(['./property-info'])" class="active">Property Details</a></li>
      <li><a href="#" style="background-color: transparent;">Property Information</a></li>

      <li><a href="#" class="active"  style="background-color: transparent;" >CheckOut</a></li>


    </ul>
  </nav>
</div>
<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <div class="form-section">
    <div formGroupName="propertyAddress" class="column">
      <h2>Property Address</h2>
      <label>
        Address:
        <input formControlName="address">
      </label>
      <label>
        Street:
        <input formControlName="street">
      </label>
      <label>
        City:
        <input formControlName="city">
      </label>
      <label>
        State:
        <input formControlName="state">
      </label>
      <label>
        Zip Code:
        <input formControlName="zipCode">
      </label>
    </div>

    <div formGroupName="additionalInformation" class="column">
      <h2>Additional Information</h2>
      <label>
        City:
        <input formControlName="city">
      </label>
      <label>
        Parcel:
        <input formControlName="parcel">
      </label>
      <label>
        Owner Name:
        <input formControlName="ownerName">
      </label>
      <label>
        Additional Info:
        <textarea formControlName="additionalInfo"></textarea>
      </label>
    </div>
  </div>

  <div class="form-section"  style="width: 30%;">
    <label>
      Country:
      <select formControlName="country">
        <option *ngFor="let country of countries" [value]="country.name">
          {{ country.name }}
        </option>
      </select>
    </label>
  </div>
  <hr>

  <div formGroupName="services" class="form-section">
    <h2>Services</h2>
    <label>
      <input type="checkbox" formControlName="currentOwner">
      Current Owner: ${{ selectedCountryServices.currentOwner }}
    </label>
    <label>
      <input type="checkbox" formControlName="twoOwnerSearch">
      Two Owner Search: ${{ selectedCountryServices.twoOwnerSearch }}
    </label>
    <label>
      <input type="checkbox" formControlName="fullSearch">
      Full Search: ${{ selectedCountryServices.fullSearch }}
    </label>
    <label>
      <input type="checkbox" formControlName="documentRetrieval">
      Document Retrieval: ${{ selectedCountryServices.documentRetrieval }}
    </label>
  </div>

  <div class="form-section">
    <h2>Total Cost: ${{ totalCost }}</h2>


  <button class="btn btn-primary" type="submit">continue >></button>
  </div>
</form>
